.root {
  display: grid;
  gap: 1rem;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid rgba(148, 163, 184, 0.1);
}
